<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="scripts/raphael.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"> </script>
    <script src="scripts/coffee-script.js" type="text/javascript" charset="utf-8"> </script>
    <script type="text/coffeescript" src="scripts/DrawChinese.coffee"> </script>
    <script type="text/coffeescript" src="scripts/exam/exam.coffee"> </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
