<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="scripts/raphael.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"> </script>
    <script src="scripts/DrawChinese.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/exam/exam.js" type="text/javascript" charset="utf-8"></script>
    <script src="scripts/exam/index.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
      <input type="text" name="" id="" value="" />
  </body>
</html>
