<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  	<link rel='stylesheet' href='/styles/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/styles/bootstrap.css' />
    <link rel='stylesheet' href='/styles/index.css' />
  </head>
  <body>

        <div class="header">
	        <div class="container">
	        	<div class='che_logo'>Cheese</div>

	        	<div class='che_nav hidden-phone'>
	        		<div>one</div>
	        		<div>two</div>
	        		<div>three</div>
	        	</div>
	        	<div class='mobile-nav visible-phone'></div>
			</div>

        </div>

        <div class='demo_wrapper'>
        	<div class='container'>

	        	<div class='demo_area'>
	        		<img src="/img/bg_small_screens.png">

	        		 <input class="" type="text" name="word" >
	    		</div>
        	</div>

        </div>

        <div class='services_area'>

        <div class='container services'>
		<div class='row-fluid'>

			<div class='span4 service'>
				<div class='service_header'>
					<div class='icon'></div>
					<div class='sub_title'>one</div>
				</div>
				<div class='service_body'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris. Nulla facilisi. Fusce mattis congue vulputate. Curabitur eu libero eu urna varius egestas.
				</div>
			</div>
			<div class='span4 service'>
				<div class='service_header'>
					<div class='icon'></div>
					<div class='sub_title'>two</div>
				</div>
				<div class='service_body'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris. Nulla facilisi. Fusce mattis congue vulputate. Curabitur eu libero eu urna varius egestas.
				</div>
			</div>
			<div class='span4 service'>
				<div class='service_header'>
					<div class='icon'></div>
					<div class='sub_title'>there</div>
				</div>
				<div class='service_body'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris. Nulla facilisi. Fusce mattis congue vulputate. Curabitur eu libero eu urna varius egestas.
				</div>
			</div>

		</div>
	</div>
	</div>


        	</div class='footer'></div>
  </body>
</html>
