<% layout('layout') -%>

<div class='services_area'>

        <div class='container services'>
		<div class='row-fluid'>

			<div class='span4 service'>
				<div class='service_header'>
					<div class='icon'></div>
					<div class='sub_title'>one</div>
				</div>
				<div class='service_body'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris. Nulla facilisi. Fusce mattis congue vulputate. Curabitur eu libero eu urna varius egestas.
				</div>
			</div>
			<div class='span4 service'>
				<div class='service_header'>
					<div class='icon'>
						<i class='icon-mobile-phone icon-2x'></i>
					</div>
					<div class='sub_title'>two</div>
				</div>
				<div class='service_body'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris. Nulla facilisi. Fusce mattis congue vulputate. Curabitur eu libero eu urna varius egestas.
				</div>
			</div>
			<div class='span4 service'>
			<div class='service_header'>
					<div class='icon'></div>
					<div class='sub_title'>there</div>
				</div>
				<div class='service_body'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris. Nulla facilisi. Fusce mattis congue vulputate. Curabitur eu libero eu urna varius egestas.
				</div>
			</div>

		</div>
	</div>
</div>


<div id="explan_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">解釋</h3>
  </div>
  <div class="modal-body">
    <p>名</p>
    <p>動</p>
  </div>
</div>



<script>

	$('#explan_modal').modal("show");

		
    $(".user-input").on("keyup", function(e) {

    	var wording = encodeURIComponent($(".user-input").val());

        // enter
        if ( e.which === 13 ) {


        	if( wording === "" || wording === null || wording === undefined ){

        		alert("請輸入文字");

        		return false;
        	}

            
            $(this).blur();

	         $.ajax({
	            url: "https://www.moedict.tw/raw/" + wording,
	            type: "GET",
	            dataType: "json",
	            async: true,
	            error: function(jqXHR,b,c){

	            },
	            success: function(data){

	            	console.log(data);

		        }
            });

        }
        // exit
        else if ( e.which === 27 ) {
            
            $(this).blur();
          
        }
    });
    


</script>