<% layout('layout') -%>

<input type="text" id="word" value="ä¹"/>
<div class="well">
    <audio id="ma-speech" preload="auto" controls>
        <source src="audio/one-to-ten.mp3" type="audio/mp3" />
        <source src="audio/one-to-ten.ogg" type="audio/ogg" />
    </audio>
</div>

<script src="scripts/BumblerSpeech.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/numbers/index.js" type="text/javascript" charset="utf-8"></script>
