<% layout('layout') -%>
<% stylesheet('styles/thanks.css') -%>

<div class="container">

    <h1>Cheese Team</h1>
    <h2>Mia + Isken + Mitch + EragonJ</h2>
    <div style="height: 1px; background-color: #ccc;"></div>

    <h1>Bumbler to Speech 邦伯來數數</h1>
    <h2><a href="http://zhusee2.github.io/bumbler-to-speech/">http://zhusee2.github.io/bumbler-to-speech/</a></h2>

    <div style="height: 1px; background-color: #ccc;"></div>

    <h1>常用國字標準字體筆順學習網</h1>
    <h2><a href="http://stroke-order.learningweb.moe.edu.tw/home.do">http://stroke-order.learningweb.moe.edu.tw/home.do</a></h2>

    <div style="height: 1px; background-color: #ccc;"></div>

    <h1>Moedict 萌典</h1>
    <h2><a href="https://moedict.tw/">https://moedict.tw/</a></h2>

    <div style="height: 1px; background-color: #ccc;"></div>

    <h1>c9s/zh-stroke-data</h1>
    <h2><a href="https://github.com/c9s/zh-stroke-data">https://github.com/c9s/zh-stroke-data</a></h2>
</div>

