<% layout('layout') -%>
<% stylesheet('styles/top100.css') -%>

<<<<<<< HEAD
<% block('header', "<h1>I'm in the header.</h1>") -%>
<% block('subHeader', "<h1>I'm in the subHeader.</h1>") -%>


<% block('demo_area', "<h1>I'm in the subHeader.</h1>") -%>





<!-- <input type="text" id="word" value="ä¹"/> -->
<div id="holder" class="clearfix"></div>
<div id="top100-grid"></div>
=======
<div class='container'>
	<div id="top100-grid"></div>
</div>
>>>>>>> 9343bd3fff59435e2fbfba90eaff8f1592f03649

<script type="text/template" id="template-top100-grid-row">
	<div class="grid-row" data-uni="##UNI##">##TEXT##</div>
</script>
<script type="text/template" id="template-top100-holder">
	<div id="holder" class="clearfix"></div>
</script>
<script type="text/javascript" src="scripts/TextToSpeach.js" charset="utf-8"></script>
<script type="text/javascript" src="scripts/top100.js" charset="utf-8"> </script>