<% layout('layout') -%>
<% stylesheet('styles/top100.css') -%>


<!-- <input type="text" id="word" value="ä¹"/> -->
<div id="holder" class="clearfix"></div>
<div id="top100-grid"></div>

<script type="text/template" id="template-top100-grid-row">
	<div class="grid-row" data-uni="##UNI##">##TEXT##</div>
</script>
<script type="text/javascript" src="scripts/TextToSpeach.js" charset="utf-8"></script>
<script type="text/javascript" src="scripts/top100.js" charset="utf-8"> </script>