.grid-row {
	float       : left;
	font-size   : 100pt;
	font-family : Arial;
	color       : #666;
	line-height : 1;
}

#holder {
	border           : 1px solid #ccc;
	width            : 100%;
	background-color : #666;
	height           : 360px;
	border           : none;
	text-align       : center;
}

#holder svg {
    /*float: left;*/
    margin-top : -15px;
}

